/*ANIMATION ETOILE */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
@-webkit-keyframes fillheart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fillheart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: Rotate(0deg);
            transform: Rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: Rotate(0deg);
            transform: Rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes glow {
  0% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
  90% {
    color: #9356dc;
    text-shadow: none;
  }
  100% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
}

@keyframes glow {
  0% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
  90% {
    color: #9356dc;
    text-shadow: none;
  }
  100% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
}

@-webkit-keyframes loaded {
  0% {
    opacity: -1;
  }
  25% {
    opacity: -1;
  }
  50% {
    opacity: -1;
  }
  75% {
    opacity: -1;
  }
  100% {
    opacity: 2;
    z-index: 5;
  }
}

@keyframes loaded {
  0% {
    opacity: -1;
  }
  25% {
    opacity: -1;
  }
  50% {
    opacity: -1;
  }
  75% {
    opacity: -1;
  }
  100% {
    opacity: 2;
    z-index: 5;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 2;
  }
  25% {
    opacity: 2;
  }
  50% {
    opacity: 2;
  }
  75% {
    opacity: 2;
  }
  100% {
    opacity: -5;
    z-index: -5;
  }
}

@keyframes loader {
  0% {
    opacity: 2;
  }
  25% {
    opacity: 2;
  }
  50% {
    opacity: 2;
  }
  75% {
    opacity: 2;
  }
  100% {
    opacity: -5;
    z-index: -5;
  }
}

@-webkit-keyframes btnanim {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes btnanim {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

body {
  margin: 0%;
}

.menu__body {
  font-family: "roboto";
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

header h1 {
  font-family: "shrikhand";
  margin: 0;
}

header i {
  position: absolute;
  font-size: 25px;
  color: black;
  font-weight: 900;
  left: 5%;
  top: 25%;
}

.menu {
  height: 70%;
  width: 100%;
}

.menu figure {
  margin: 0%;
}

.menu .menu__background {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 0;
}

@media (min-width: 992px) {
  .menu .menu__background {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 600px;
  }
}

.menu .menu__img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

@media (min-width: 768px) {
  .menu .menu__img {
    height: 450px;
  }
}

@media (min-width: 992px) {
  .menu .menu__img {
    height: 550px;
  }
}

.menu__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f6f6f6;
  border-radius: 30px 30px 15px 15px;
  margin-top: -13%;
  z-index: 2;
}

@media (min-width: 992px) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu__body .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 992px) {
  .menu__body .card__header {
    width: 100%;
  }
}

.menu__body h2 {
  font-family: "shrikhand";
  font-weight: 300;
  width: 80%;
  margin-left: 4%;
}

.card__heart {
  position: absolute;
  left: 80%;
  width: 20%;
  cursor: pointer;
  top: 1%;
  right: 15%;
}

.card__heart .fa-stack {
  font-size: 25px;
}

.card__heart .fa-stack .fa-solid {
  opacity: 0;
}

.card__heart .fa-stack .fa-solid:hover {
  -webkit-animation: fillheart 1s forwards;
          animation: fillheart 1s forwards;
  color: #9c47fc;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 8px 0px #aaaaaa;
          box-shadow: 0px 0px 8px 0px #aaaaaa;
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  opacity: 0;
  margin: 5% 3% 5% 3%;
  height: 65px;
}

@media (min-width: 768px) {
  .btn {
    height: 80px;
    margin: 3% 3% 3% 3%;
  }
}

.btn:hover {
  -webkit-box-shadow: 0px 10px 6px 0px #a3a3a3;
          box-shadow: 0px 10px 6px 0px #a3a3a3;
}

.btn:hover .btn__body__animation {
  width: 25%;
}

.btn:hover .btn__body__animation .fa-check-circle {
  -webkit-animation: 1s rotate;
          animation: 1s rotate;
}

.btn__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.btn__body__animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #99e2d0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: 100%;
  width: 0%;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.btn__body__animation .fa-check-circle {
  color: #fff;
  font-size: 25px;
}

.btn__body__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 30%;
}

.btn__body__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .btn__body__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn__body__name--label {
  font-size: 18px;
  margin: 2px 0px 2px 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn__body__name h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 19px;
  margin: 2px 0px 0px 4px;
}

.btn__body__name p {
  font-weight: lighter;
}

h3 {
  font-family: "roboto";
  font-weight: 400;
  border-bottom: 4px solid #99e2d0;
  width: 45px;
  padding-bottom: 2px;
  margin-left: 4%;
}

.orderBtn {
  border-radius: 25px 25px;
  margin-bottom: 20%;
  border: none;
  height: 50px;
  font-weight: 700;
  background-color: #ff79da;
  -webkit-box-shadow: inset -1em -1em 20px 0px #9356dc;
          box-shadow: inset -1em -1em 20px 0px #9356dc;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 15% 25% 15% 25%;
  cursor: pointer;
}

@media (min-width: 992px) {
  .orderBtn {
    margin: 170px 0px 0px 200px;
    width: 25%;
    height: 45px;
    border-radius: 25px;
  }
}

.orderBtn:hover {
  -webkit-box-shadow: 0px 10px 6px 0px #a3a3a3;
          box-shadow: 0px 10px 6px 0px #a3a3a3;
}

.orderBtn a {
  color: #fff;
  text-decoration: none;
  padding-left: 3%;
  padding-right: 3%;
}

@media (min-width: 992px) {
  .entrees {
    width: 50%;
  }
}

.entrees .btn {
  -webkit-animation: btnanim 2s forwards;
          animation: btnanim 2s forwards;
}

@media (min-width: 992px) {
  .plats {
    width: 50%;
  }
}

.plats .btn {
  -webkit-animation: btnanim 2s forwards;
          animation: btnanim 2s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@media (min-width: 992px) {
  .desserts {
    width: 50%;
  }
}

.desserts .btn {
  -webkit-animation: btnanim 2s forwards;
          animation: btnanim 2s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

footer {
  background-color: #383838;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 1%;
}

@media (min-width: 992px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 2%;
  }
}

@media (min-width: 768px) {
  footer {
    padding-bottom: 2%;
  }
}

footer h3 {
  font-family: "shrikhand";
  color: white;
  margin: 3% 0% 0% 5%;
  font-weight: 100;
  font-size: 15px;
}

footer ul {
  list-style: none;
  font-size: 13px;
  padding: 0%;
  margin-left: 5%;
  color: white;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer h3 {
  border-bottom: none;
}

footer ul {
  line-height: 22px;
}

footer .fa-utensils {
  margin-right: 15px;
}

footer .fa-hands-helping {
  margin-right: 9px;
}
