/*ANIMATION ETOILE */
@-webkit-keyframes fillheart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fillheart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: Rotate(0deg);
            transform: Rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: Rotate(0deg);
            transform: Rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes glow {
  0% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
  90% {
    color: #9356dc;
    text-shadow: none;
  }
  100% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
}

@keyframes glow {
  0% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
  90% {
    color: #9356dc;
    text-shadow: none;
  }
  100% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
}

@-webkit-keyframes loaded {
  0% {
    opacity: -1;
  }
  25% {
    opacity: -1;
  }
  50% {
    opacity: -1;
  }
  75% {
    opacity: -1;
  }
  100% {
    opacity: 2;
    z-index: 5;
  }
}

@keyframes loaded {
  0% {
    opacity: -1;
  }
  25% {
    opacity: -1;
  }
  50% {
    opacity: -1;
  }
  75% {
    opacity: -1;
  }
  100% {
    opacity: 2;
    z-index: 5;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 2;
  }
  25% {
    opacity: 2;
  }
  50% {
    opacity: 2;
  }
  75% {
    opacity: 2;
  }
  100% {
    opacity: -5;
    z-index: -5;
  }
}

@keyframes loader {
  0% {
    opacity: 2;
  }
  25% {
    opacity: 2;
  }
  50% {
    opacity: 2;
  }
  75% {
    opacity: 2;
  }
  100% {
    opacity: -5;
    z-index: -5;
  }
}

@-webkit-keyframes btnanim {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes btnanim {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.loader {
  position: fixed;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#9356dc2e), color-stop(#ff79da85), to(#99e2d0ad));
  background: linear-gradient(to right, #9356dc2e, #ff79da85, #99e2d0ad);
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loader 5s forwards;
          animation: loader 5s forwards;
}

.loader .lettre {
  color: #9356dc;
  font-size: 30px;
  letter-spacing: 13px;
  margin-bottom: 150px;
  -webkit-animation: glow 2s linear infinite;
          animation: glow 2s linear infinite;
}

.loader .lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader .lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader .lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader .lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader .lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader .lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader .lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loader .lettre:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loader .lettre:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.loader .lettre:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body {
  margin: 0%;
}

header {
  -webkit-animation: loaded 5s;
          animation: loaded 5s;
  font-family: "Roboto";
  width: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo .logo__img {
  width: 40%;
  margin-top: 2%;
  margin-bottom: 2%;
}

@media (min-width: 992px) {
  .logo .logo__img {
    width: 10%;
  }
}

.gps {
  background: #ebebeb;
  border-top: 3px solid #cccccc;
  width: 100%;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

.gps a {
  color: black;
}

.gps .gps__location {
  margin-left: 0%;
  border: none;
  background: none;
  text-align: center;
  outline: none;
  padding: 2% 0% 2% 0%;
  font-size: 1rem;
  font-weight: 700;
  width: 120px;
}

.menu {
  background-color: #f6f6f6;
  height: 250px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0% 4% 0% 4%;
  z-index: 2;
}

@media (min-width: 992px) {
  .menu {
    padding-top: 5%;
  }
}

.menu p {
  margin: 0% 0% 10% 0%;
}

@media (min-width: 992px) {
  .menu p {
    margin: 0% 0% 5% 0%;
  }
}

.menu .menu__explorer {
  border-radius: 25px 25px;
  margin-bottom: 20%;
  border: none;
  height: 50px;
  width: auto;
  color: white;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  z-index: 2;
}

.menu .menu__explorer:hover {
  -webkit-box-shadow: 0px 10px 6px 0px #a3a3a3;
          box-shadow: 0px 10px 6px 0px #a3a3a3;
}

h4 {
  font-weight: bolder;
  font-size: 19px;
}

.menu__titre {
  font-weight: 900;
  font-size: 1.8em;
}

#fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 350px;
  margin-left: 3%;
}

@media (min-width: 768px) {
  #fonctionnement {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0% 0% 5% 0%;
  }
}

@media (min-width: 992px) {
  #fonctionnement {
    margin-bottom: 0%;
  }
}

#fonctionnement h2 {
  font-weight: 700;
  font-family: "Roboto";
}

@media (min-width: 992px) {
  #fonctionnement h2 {
    position: relative;
  }
}

#fonctionnement .btn {
  background: rgba(128, 128, 128, 0.13);
  border-radius: 15px 15px;
  -webkit-box-shadow: 0px 0px 8px 0px #aaaaaa;
          box-shadow: 0px 0px 8px 0px #aaaaaa;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 90%;
  margin: 0% 5% 0% 5%;
  z-index: 2;
  cursor: pointer;
}

@media (min-width: 768px) {
  #fonctionnement .btn {
    width: 70%;
    height: 20%;
  }
}

@media (min-width: 992px) {
  #fonctionnement .btn {
    height: 35%;
    margin-bottom: 2%;
    width: 45%;
  }
}

#fonctionnement .btn:hover {
  background: #9256dc1f;
  -webkit-box-shadow: 0px 10px 6px 0px #a3a3a3;
          box-shadow: 0px 10px 6px 0px #a3a3a3;
}

#fonctionnement .btn:hover .btn__logo {
  color: #9356dc;
}

#fonctionnement .btn__logo {
  color: grey;
  margin-right: 5%;
}

#fonctionnement .btn__num {
  color: white;
  background: #9356dc;
  border-radius: 50%;
  width: 9%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0% 5% 0% -4%;
}

@media (min-width: 992px) {
  #fonctionnement .btn__num {
    height: 65%;
  }
}

@media (min-width: 768px) {
  #fonctionnement .btn__num {
    height: 60%;
  }
}

main {
  -webkit-animation: loaded 5s;
          animation: loaded 5s;
  height: 100%;
  background-color: #f6f6f6;
  font-family: "roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10%;
}

@media (min-width: 992px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

main .card {
  position: relative;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 0px #aaaaaa;
          box-shadow: 0px 0px 8px 0px #aaaaaa;
  width: 90%;
  height: 200px;
  margin: 2% 0% 2% 0%;
  cursor: pointer;
}

@media (min-width: 768px) {
  main .card {
    height: 300px;
  }
}

@media (min-width: 992px) {
  main .card {
    width: 30%;
    height: 270px;
    margin: 2% 10% 2% 10%;
  }
}

main .card:hover {
  -webkit-box-shadow: 0px 10px 6px 0px #a3a3a3;
          box-shadow: 0px 10px 6px 0px #a3a3a3;
}

main .card__img {
  width: 100%;
  height: 75%;
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

main h2 {
  font-weight: 900;
  margin-left: -60%;
}

@media (min-width: 992px) {
  main h2 {
    width: 100%;
    margin: 3% 0% 0% 0%;
    text-align: center;
  }
}

.card__title {
  position: relative;
}

@media (min-width: 768px) {
  .card__title {
    top: 5%;
  }
}

.card__title h4 {
  font-weight: 900;
  margin: 0% 0% 0% 3%;
}

.card__title span {
  margin-left: 3%;
}

.card__heart {
  position: absolute;
  left: 80%;
  width: 20%;
  cursor: pointer;
  top: 0%;
  right: 15%;
}

.card__heart .fa-stack {
  font-size: 25px;
}

.card__heart .fa-stack .fa-solid {
  opacity: 0;
}

.card__heart .fa-stack .fa-solid:hover {
  -webkit-animation: fillheart 1s forwards;
          animation: fillheart 1s forwards;
  color: #9c47fc;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__new {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  border-radius: 2px 2px 2px 2px;
  color: #129171;
  background: #99e2d0;
  min-width: 80px;
  height: 30px;
  z-index: 3;
  right: 3%;
  top: 2%;
}

footer {
  -webkit-animation: loaded 5s;
          animation: loaded 5s;
  font-family: "roboto";
  background-color: #383838;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer h3 {
  font-family: "shrikhand";
  color: white;
  margin: 3% 0% 0% 5%;
  font-weight: 100;
  font-size: 15px;
}

footer ul {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  padding: 0%;
  margin-left: 5%;
  color: white;
}

footer i {
  font-size: 12px;
  margin-right: 2%;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer h3 {
  font-family: "shrikhand";
  color: white;
  margin: 2% 0% 0% 5%;
  font-weight: 100;
  font-size: 15px;
}

footer ul {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  padding: 0%;
  margin-left: 5%;
  color: white;
}

@media (min-width: 992px) {
  footer ul {
    margin-bottom: 10%;
  }
}

footer i {
  font-size: 12px;
  margin-right: 2%;
}

footer a {
  color: #fff;
  text-decoration: none;
}
