@import "./utils/Keyframes.scss";
@import "./utils/mixin.scss";
@import "./utils/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
.loader {
  position: fixed;
  top: 0;
  background: linear-gradient(to right, #9356dc2e, #ff79da85, #99e2d0ad);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  animation: loader 5s forwards;
  .lettre {
    color: #9356dc;
    font-size: 30px;
    letter-spacing: 13px;
    margin-bottom: 150px;
    animation: glow 2s linear infinite;
  }
  @for $i from 1 to 11 {
    .lettre:nth-child(#{$i}) {
      animation-delay: $i * $animationdelay;
    }
  }
}
body {
  margin: 0%;
}
header {
  animation: loaded 5s;
  font-family: "Roboto";
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;

  .logo__img {
    @media (min-width: $breakpoint-desktop) {
      width: 10%;
    }
    width: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
.gps {
  background: rgb(235, 235, 235);
  border-top: 3px solid rgb(204, 204, 204);
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  a {
    color: black;
  }
  .gps__location {
    margin-left: 0%;
    border: none;
    background: none;
    text-align: center;
    outline: none;
    padding: 2% 0% 2% 0%;
    font-size: 1rem;
    font-weight: 700;
    width: 120px;
  }
}
.menu {
  @media (min-width: $breakpoint-desktop) {
    padding-top: 5%;
  }
  background-color: rgb(246, 246, 246);
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0% 4% 0% 4%;
  z-index: 2;
  p {
    @media (min-width: $breakpoint-desktop) {
      margin: 0% 0% 5% 0%;
    }
    margin: 0% 0% 10% 0%;
  }
  .menu__explorer {
    border-radius: 25px 25px;
    margin-bottom: 20%;
    border: none;
    height: 50px;
    width: auto;
    color: white;
    font-weight: 700;
    background: linear-gradient(#ff79da, #9356dc);
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
    z-index: 2;
    &:hover {
      @include btn_shadow;
    }
  }
}
h4 {
  font-weight: bolder;
  font-size: 19px;
}
.menu__titre {
  font-weight: 900;
  font-size: 1.8em;
}
#fonctionnement {
  @media (min-width: $breakpoint-tablet) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0% 0% 5% 0%;
  }
  @media (min-width: $breakpoint-desktop) {
    margin-bottom: 0%;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 350px;
  margin-left: 3%;
  h2 {
    @media (min-width: $breakpoint-desktop) {
      position: relative;
    }
    font-weight: 700;
    font-family: "Roboto";
  }
  .btn {
    @media (min-width: $breakpoint-tablet) {
      width: 70%;
      height: 20%;
    }
    @media (min-width: $breakpoint-desktop) {
      height: 35%;
      margin-bottom: 2%;
      width: 45%;
    }
    background: rgba(128, 128, 128, 0.13);
    border-radius: 15px 15px;
    box-shadow: 0px 0px 8px 0px #aaaaaa;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 65px;
    width: 90%;
    margin: 0% 5% 0% 5%;
    z-index: 2;
    cursor: pointer;
    &:hover {
      background: #9256dc1f;
      @include btn_shadow;
      .btn__logo {
        color: #9356dc;
      }
    }
  }
  .btn__logo {
    color: grey;
    margin-right: 5%;
  }
  .btn__num {
    @media (min-width: $breakpoint-desktop) {
      height: 55%;
      width: 40px;
    }
    @media (min-width: $breakpoint-tablet) {
      height: 55%;
      width: 40px;
    }
    color: white;
    background: #9356dc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 5% 0% -3%;
  }
}
main {
  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  animation: loaded 5s;
  height: 100%;
  background-color: rgb(246, 246, 246);
  font-family: "roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
  .card {
    @media (min-width: $breakpoint-tablet) {
      height: 300px;
    }
    @media (min-width: $breakpoint-desktop) {
      width: 30%;
      height: 270px;
      margin: 2% 10% 2% 10%;
    }
    position: relative;
    background-color: white;
    border-radius: $radiusfull;
    box-shadow: 0px 0px 8px 0px #aaaaaa;
    width: 90%;
    height: 200px;
    margin: 2% 0% 2% 0%;
    cursor: pointer;
    &:hover {
      @include btn_shadow;
    }
  }
  .card__img {
    width: 100%;
    height: 75%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
  }
  h2 {
    @media (min-width: $breakpoint-desktop) {
      width: 100%;
      margin: 3% 0% 0% 0%;
      text-align: center;
    }
    font-weight: 900;
    margin-left: -60%;
  }
}
.card__title {
  @media (min-width: $breakpoint-tablet) {
    top: 5%;
  }
  position: relative;
  h4 {
    font-family: "roboto";
    font-size: 20px;
    font-weight: 900;
    margin: 0% 0% 0% 3%;
  }
  span {
    margin-left: 3%;
    font-weight: lighter;
  }
}
.card__heart {
  position: absolute;
  left: 80%;
  width: 20%;
  cursor: pointer;
  top: 0%;
  right: 15%;
  .fa-stack {
    font-size: 25px;
    .fa-solid {
      opacity: 0;
      &:hover {
        animation: fillheart 1s forwards;
        color: #9c47fc;
        background: -webkit-linear-gradient(#ff79da, #9356dc);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.card__new {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 2px 2px 2px 2px;
  color: rgb(18, 145, 113);
  background: rgb(153, 226, 208);
  min-width: 80px;
  height: 30px;
  z-index: 3;
  right: 3%;
  top: 2%;
}
footer {
  animation: loaded 5s;
  font-family: "roboto";
  padding-bottom: 1%;
  @include footer;
  h3 {
    font-family: "shrikhand";
    color: white;
    margin: 2% 0% 0% 5%;
    font-weight: 100;
    font-size: 15px;
  }
  ul {
    @media (min-width: $breakpoint-desktop) {
      padding-bottom: 0%;
    }
    list-style: none;
    font-size: 13px;
    line-height: 22px;
    padding: 0%;
    margin-left: 5%;
    color: white;
  }
  .fa-utensils {
    margin-right: 15px;
  }
  .fa-hands-helping {
    margin-right: 13px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}
